{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    <div class="container">
      <header class="site-header">
        <nav>
          <a class="site-title" href="{{ base_path }}/">{{ site.title }}</a>
          {% for link in site.data.navigation.main %}
            <a href="{{ base_path }}{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </nav>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="site-footer">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
      </footer>
    </div>
  </body>
</html>
